.gallery {
  width: 100vw;
  overflow-y: scroll;
}

.rail {
  display: flex;
  white-space: nowrap;
}

.collection {
}

.collection div {
  width:  50vh;
  height: calc(50vh - 50px);
  background-position: center;
  background-size: cover;
  vertical-align: top;
}

.collection > div:first-child {
  display: inline-block;
  width:  calc(100vh - 100px);
  height: calc(100vh - 100px);
}

.collection section {
  display: inline-block;
}
